<!-- <h1>List of available cocktails</h1> -->
    <%= render "shared/banner" %>
<div class="container">
  <div class="row">
    <% @cocktails.each do |c|  %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <% if c.photo.present?  %>
        <div class="card" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("<%= cl_image_path c.photo%>");'>
      <% else  %>
        <div class="card" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("https://source.unsplash.com/1600x900/?cocktail");'>
      <% end  %>
        <div class="card-description">
          <h3> <%= c.name %> </h3>
        </div>
        <%= link_to 'Details', cocktail_path(c.id), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>

</div>
